#Commands that script 'mysql_secure_installation" runs.

UPDATE mysql.user SET Password=PASSWORD('{{ mysqlRootPassword }}') WHERE User='root';
DELETE FROM mysql.user WHERE User='';
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');

# Commented since Ubuntu does not install any test DB.
# DROP DATABASE test;
# DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
FLUSH PRIVILEGES;

